version: "3.8"
services:
  app:
    build: .
    container_name: backend-local
    ports:
      - "8080:8080"
    depends_on:
      - redis
    environment:
      - SPRING_REDIS_HOST=localhost
      - SPRING_REDIS_PORT=6379

  redis:
    image: redis:8.2.2
    ports:
      - "6379:6379"
