body{
    background-color: aliceblue;
    background-size: cover;
    background-position: center;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    height: 100vh;
}

.login_form{
    background: rgba(255, 255, 255);
    padding: 20px 30px;
    border-radius: 10px;
    transform: scale(1.2);
}

.login_form h2{
    display: block;
    margin-bottom: 30px;
    font-size: 25px;
}

input[type = "text"], input[type="password"]{
    padding: 5px 5px 5px 40px;
    border-radius: 7px;
    width: 100%;
    height: 30px;
    margin: 5px 10px 20px 10px;
    font-weight: bold;
    font-size:15px;
}

.login_row{
    display: flex;
    align-items: center;
    position: relative;
}

.login_col{
    display: flex;
    align-items: center;
}

.user_avatar,.password{
    position: absolute;
    left: 20px;
    top: 19px;
}

#openPass{
    display: block;
    position:absolute;
    top: 19px;
    right:20px;
    cursor: pointer;
}

#closePass{
    display: none;
    position: absolute;
    right:20px;
    top:19px;
    cursor: pointer;
}

.login_row2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px 10px 10px 5px;
}

input[type="checkbox"]{
    transform: scale(1.5);
    accent-color: rgb(0, 179, 255);
}

.login_row2 label{
    font-size: 17px;
    margin-left: 8px;
}

.login_row2 a{
    text-decoration: none;
    font-weight: bold;
    font-size:17px;
}

button{
    width:100%;
    cursor: pointer;
    height:40px;
    font-size:20px;
    border-radius: 7px;
    padding: 0px;
    background-image: linear-gradient(to right,  rgb(0, 247, 255), rgb(1, 31, 255));
}

#register{
    margin: auto;
    margin-top: 20px;
    font-size: 17px;
}

#progress_bar{
    position: fixed;
    top: 0px;
    left: 0px;
    height: 3px;
    background-image: linear-gradient(to right,  rgb(0, 247, 255), rgb(1, 31, 255));
    z-index: 9999;
    transition: all 0.3s ease;
    width: 0%;
}
@media (max-width: 775px){
    .login_form{
        transform: scale(1);
    }
}