body{
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgb(239, 239, 239);
    margin: 0;

}

.reset{
    background-color: rgba(255,255,255);
    backdrop-filter: blur(10px);
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
}

#closeMenu{
    color:red;
    position: absolute;
    right:10px;
    top:10px;
    transform: scale(1.3);
}

h2{
    text-align: center;
}

h3{
    margin:15px 0px 15px 15px;
}

.reset_row{
    display: flex;
    align-items: center;
    position: relative;
}

.password_input,#userNameInput{
    width: 90%;
    height: 45px;
    margin-left: 15px;
    border-radius: 5px;
    border: 2px solid black;
    padding-left: 40px;
    font-size: 20px;
}

.icon{
    position: absolute;
    left:25px;
}

p{
    margin-left: 15px;
}

#confirmNewInput{
    margin: 10px 0px 5px 15px;
}

#checkPassword{
    width: 100px;
    height:30px;
    margin-right: 15px;
    margin-left: 15px;
    border-radius: 5px;
    font-size: 15px;
    height: 50px;
}

#submit{
    width: 96%;
    margin: 10px 10px 10px 15px;
    height: 40px;
    font-size: 20px;
    border-radius: 5px;
}

.toggle1{
    position: absolute;
    right:125px;
}

.toggle2{
    position: absolute;
    right: 30px;
}

.hidden{
    display: none !important; 
}
.user_avatar{
    position: absolute;
    left:25px;
    top:17px;
}

#userNameInput{
    margin-bottom: 10px;
    width: 76%;
}

@media (max-width:600px){
    .password_input, #userNameInput{
        width: 83%;
        height: 25px;
        margin-left: 15px;
        border-radius: 5px;
        border: 2px solid black;
        padding-left: 40px;
        font-size: 15px;
        height: 30px;
    }

    .reset_row{
        flex-wrap: wrap;
    }

    #oldInput,#userNameInput{
        width: 83%;
    }

    .user_avatar{
        top:8px;
        left:25px;
    }

    #resetPassword{
        top:8px;
    }

    .toggle1{
        top:8px;
        right:30px;
    }

    #checkPassword{
        margin:10px 20px 0px 15px;
        width:100%;
        height:40px;
        font-size: 20px;
    }

    #submit{
        width:93%;
    }
}